* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100hv;
    background-color: white;
}

/* NAV  */
nav {
    height: 65px;
    display: flex;
    background-color: white;
}
nav div a {
    text-decoration: none;
    color: black;
    margin-right: 25px;
}
nav div:first-child {
    flex-grow: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-left, .nav-right {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.nav-right {
    justify-content: flex-end;
}
.button {
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    margin-right: 20px;
    font-size: 17px;
}

/* HERO  */
.hero {
    background-color: rgb(180, 208, 231);
    height: 630px;
}
.hero-container {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
}
header h1 {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 40px;
    
}
header p {
    width: 357px;
    line-height: 22px;
    font-size: 17px;
}
header .hero-container-right img {
    height: 480px;
    position: absolute;
    top: 227px;
    right: -110px;
}
.button-hero {
    margin: 25px 0px;
}
section div i {
    margin-top: 110px;
}

