* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --sfondo-azzurro:rgb(180, 208, 231);
    --colore-bordo: rgb(208, 208, 211);
    --button-blue: rgb(0, 97, 255);
}

body {
    height: 100hv;
    background-color: white;
}
section {
    margin-bottom: 50px;
}
/* NAV  */
nav {
    height: 65px;
    display: flex;
    background-color: white;
}
nav div a {
    text-decoration: none;
    color: black;
    margin-right: 25px;
}
nav div:first-child {
    flex-grow: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-left, .nav-right {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.nav-right {
    justify-content: flex-end;
}
.buttons {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
}
.button-nav {
    margin-right: 20px;
}
.button-blue {
    background-color: var(--button-blue);
    color: white;
}

/* TITLES  */
h1 {
    font-size: 3rem;
    font-weight: 800;
}
.title {
    margin-bottom: 40px;
}
section h2 {
    font-size: 2rem;
}

/* HERO  */
.hero {
    background-color: var(--sfondo-azzurro);
    height: 100%;
    margin-bottom: 140px;
}
.container-xl {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
}
header p {
    width: 357px;
    line-height: 22px;
    font-size: 17px;
    margin-bottom: 25px;
}
.hero-body-right img {
    height: 480px;
    position: absolute;
    top: 227px;
    right: -110px;
}

header section div i {
    margin-top: 110px;
}
.empty {
    background-color: var(--sfondo-azzurro);
    height: 20px;
}

/* MAIN  */
/* FIRST SECTION  */
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.row {
    display: flex;
    justify-content: space-between;
}
.row-with-column {
    grid-gap: 30px;
}
.input {
    margin-left: 30px;
}
.inputs {
    margin-bottom: 50px;
}
.col {
    border: 1px solid rgb(208, 208, 211);
    flex-grow: 1;
    flex-basis: 0;
}
.user {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.hr-title {
    border: 1px solid rgb(208, 208, 211);
    width: 100%;
}
.col-body {
    margin: 40px 30px;
}
.info {
    margin-bottom: 20px;
}
.button-prova {
    padding: 10px 15px;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 100%;
}
.little-line {
    border: 1px solid rgb(208, 208, 211);
    width: 50px;
    margin-bottom: 40px;
}
.informations {
    display: flex;
}
.check {
    color: var(--button-blue);
}

/* SECOND SECTION  */

.mini-container {
    border: 1px solid rgb(208, 208, 211);
}
.col-left {
    flex-grow: 0.75;
}
.col-right {
    flex-grow: 0.25;
} 
.column {
    flex-basis: 0;
}
.button-contatta {
    margin-top: 40px;
}


/* THIRD SECTION  */
.white-hr {
    height: 60px;
    border: none;
    color: white;
}

section .row h3 {
    line-height: 30px;
    margin-bottom: 15px;
}
.third-text {
    padding: 50px 40px;
}

.third-section-button {
    padding: 10px 20px;
    border: 1px solid black;
    font-size: 17px;
    background-color: white;
}

/* FOURTH SECTION  */

.container .fourth-container img {
    width: 300px;
}

.fourth-container {
    flex-wrap: wrap;
    grid-gap: 30px;
}

.card {
    flex-grow: 1;
    flex-basis: 0;
}

/* DOMANDE SECTION  */
.domande-section p {
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
}
.domande-section a {
    margin-left: 300px;
    color: black;
}

/* FOOTER  */
footer {
    background-color: black;
    color: white;
    height: 100%;
}
footer h4 {
    margin-bottom: 25px;
    font-size: 25px;
}

footer ul li {
    list-style: none;
}
footer ul li a {
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
    display: inline-block;
}
.short-line {
    color: rgb(208, 208, 211);
    width: 100px;
    margin-top: 60px;
    margin-bottom: 40px;
}
.bottom-hr {
    height: 50px;
    border: none;
}
