* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100hv;
    background-color: white;
}

/* NAV  */
nav {
    height: 65px;
    display: flex;
    background-color: white;
}
nav div a {
    text-decoration: none;
    color: black;
    margin-right: 25px;
}
nav div:first-child {
    flex-grow: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-left, .nav-right {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.nav-right {
    justify-content: flex-end;
}
.button {
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    margin-right: 20px;
    font-size: 17px;
}

/* HERO  */
.hero {
    background-color: rgb(180, 208, 231);
    height: 100%;
    margin-bottom: 140px;
}
.hero-container {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
}
header h1 {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 40px;
}
header p {
    width: 357px;
    line-height: 22px;
    font-size: 17px;
}
header .hero-container-right img {
    height: 480px;
    position: absolute;
    top: 227px;
    right: -110px;
}
.button-hero {
    margin: 25px 0px;
}
header section div i {
    margin-top: 110px;
}
.empty {
    background-color: rgb(180, 208, 231);
    height: 20px;
}

/* MAIN  */
/* FIRST SECTION  */
.container-title {
    max-width: 1000px;
    margin: 0 auto;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.first-container {
    display: flex;
    justify-content: space-between;
}

.first-section h2 {
    font-size: 2rem;
    margin-bottom: 50px;
}
.input {
    margin-left: 30px;
}
.inputs {
    margin-bottom: 50px;
}
.column {
    width: 31%;
}
.mini-container, .user, .row, .team {
    border: 1px solid rgb(208, 208, 211);
    border-collapse: collapse;
}
.user, .team {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.mini-container {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
.info {
    margin-bottom: 20px;
}
.button-prova {
    padding: 10px 15px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-right: 0px;
    margin-left: 15px;
}
.line {
    border: 1px solid rgb(208, 208, 211);
    width: 50px;
    margin-bottom: 40px;
}
.informations {
    display: flex;
}
.check {
    color: rgb(0, 97, 255);
}

.sections {
    margin-bottom: 50px;
}
.mini-container {
    height: 100%;
} 
/* SECOND SECTION  */
.row {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.button-contatta {
    margin-right: 0px;
}

/* THIRD SECTION  */
.white-hr {
    height: 60px;
    border: none;
    color: white;
}
.third-flex {
    display: flex;
}
section .third-flex h3 {
    line-height: 30px;
    margin-bottom: 15px;
}
.third-text {
    padding: 50px 40px;
}

.third-section-button {
    padding: 10px 20px;
    border: 1px solid black;
    font-size: 17px;
    background-color: white;
}

/* FOURTH SECTION  */
.fourth-title {
    font-size: 2rem;
    margin-bottom: 20px;
}
.operations-container img {
    width: 290px;
}

.operations-container {
    width: 30%;
    margin-bottom: 40px;
}
.fourth-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.grid-container {
    display: grid;
    grid-gap: 10px 20px;
}
/* FIFTH SECTION  */
.fifth-title {
    font-size: 2rem;
    margin-bottom: 50px;
    line-height: 40px;
}
.hr-particular {
    height: 30px;
}
